{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>My First Project in IS-601</h1>
    <h2>Making a Table Using Bootstrap</h2>

    <p>In most cases, the independent variable (that which you purposefully change) is in the left
       column, the dependent variable (that which you measure) with the different trials is in the
       next columns, and the derived or calculated column (often average) is on the far right.
       Reaffirm that rows are a series of horizontal cells and that columns are a series of vertical
       cells.
    </p>
    <p>Have students practice creating data tables first with paper, pencil, and rulers, and
       later with Excel if computers are available. Use sample data, experimental data from
       investigations, or create data sets to allow for ample practice
    </p>
      <p>

        The table below shows the staff and the distribution

      </p>


  </div>
  </div>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Getting Started with PHP</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FIRST</th>
      <th scope="col">LAST</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">TITLE</th>
      <th scope="col">DATE OF BIRTH</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Gruizeman</td>
      <td>Information Services</td>
      <td>Project Manager</td>
      <td>December-17th-1977</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Theodore</td>
      <td>Accounts</td>
      <td>Accountant</td>
      <td>February=25th-1978</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Madowo</td>
      <td>Developer</td>
      <td>Interface Developer</td>
      <td>February-12th-1988</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Gordon </td>
      <td>Kinayo</td>
      <td>Architect</td>
      <td>Applications Manager</td>
      <td>October-15th-1974</td>
    </tr>

    <tr>
        <th scope="row">5</th>
        <td>Anthony</td>
        <td>Henzobiah</td>
        <td>Security</td>
        <td>Security Analyst</td>
        <td>August-14th-1991</td>
    </tr>

    <tr>
        <th scope="row">6</th>
        <td>Agnes</td>
        <td>Moliate</td>
        <td>Business Development</td>
        <td>Business Analyst</td>
        <td>March-23rd-1986</td>
    </tr>


    </tbody>
  </table>


</div>
</div>

{% endblock %}
