{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>My First Project in IS-601</h1>
    <h2>Making a Table Using Bootstrap</h2>

    <p>
    </p>
    <p>
    </p>
      <p>

        The table below shows the staff and the distribution that was build from Bootstrap template. You can read more
         <a href=" https://getbootstrap.com/docs/4.0/content/tables/">Bootstrap Table</a>



      </p>


  </div>
  </div>

  </div>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FIRST</th>
      <th scope="col">LAST</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">TITLE</th>
      <th scope="col">DATE OF BIRTH</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Gruizeman</td>
      <td>Information Services</td>
      <td>Project Manager</td>
      <td>December-17th-1977</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Theodore</td>
      <td>Accounts</td>
      <td>Accountant</td>
      <td>February-25th-1978</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Madowo</td>
      <td>Developer</td>
      <td>Interface Developer</td>
      <td>February-12th-1988</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Gordon </td>
      <td>Kinayo</td>
      <td>Architect</td>
      <td>Applications Manager</td>
      <td>October-15th-1974</td>
    </tr>

    <tr>
        <th scope="row">5</th>
        <td>Anthony</td>
        <td>Henzobiah</td>
        <td>Security</td>
        <td>Security Analyst</td>
        <td>August-14th-1991</td>
    </tr>

    <tr>
        <th scope="row">6</th>
        <td>Agnes</td>
        <td>Moliate</td>
        <td>Business Development</td>
        <td>Business Analyst</td>
        <td>November-23rd-1986</td>
    </tr>


    </tbody>
  </table>


</div>
</div>

{% endblock %}
