{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>My First Project In IS-601</h1>
    <h2>Making a Table Using Bootstrap</h2>
<body>
<p style="text-align:justify">

  This week we look at the first project where we build a Bootstrap table in php storm development environment.
  The table is to contain at least five rows and 5 columns; and must have at least five commits.
  A link is also provide so that readers can explore more about Bootstrap tables. Perhaps a greater emphasis on this
  project is that is introduces us to the tools required make a great web systems. These systems includes php,git,github and heroku.
</p>

<p class="text-justify">
The road to building  a Bootstrap table follows more learning more so in CSS and HTML5. All these are about web development which is basically what this class is about. CSS and HTML5 are key integral parts of web development.
</p>

<p class="text-justify">
  The table below shows the staff and their particulars collected from a Software company in India.
  The  distribution and the data content was developed and built from Bootstrap template. The distribution includes: names, departments ,titles and employees date of birth
  Please click on the link below to learn more on Bootstrap Tables
  <a href=" https://getbootstrap.com/docs/4.0/content/tables/">here</a>
</p>
</body>


    </div>
  </div>

  </div>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FIRST</th>
      <th scope="col">LAST</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">TITLE</th>
      <th scope="col">DATE OF BIRTH</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Gruizeman</td>
      <td>Information Services</td>
      <td>Project Manager</td>
      <td>December-17th-1977</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Theodore</td>
      <td>Accounts</td>
      <td>Accountant</td>
      <td>February-25th-1978</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Madowo</td>
      <td>Developer</td>
      <td>Interface Developer</td>
      <td>February-12th-1988</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Gordon </td>
      <td>Kinayo</td>
      <td>Architect</td>
      <td>Applications Manager</td>
      <td>October-15th-1974</td>
    </tr>

    <tr>
        <th scope="row">5</th>
        <td>Anthony</td>
        <td>Henzobiah</td>
        <td>Security</td>
        <td>Security Analyst</td>
        <td>August-14th-1991</td>
    </tr>

    <tr>
        <th scope="row">6</th>
        <td>Agnes</td>
        <td>Moliate</td>
        <td>Business Development</td>
        <td>Business Analyst</td>
        <td>November-23rd-1986</td>
    </tr>


    </tbody>
  </table>


</div>
</div>

{% endblock %}
